todo-app
  h3 Todos
  todo-form(store="{opts.store}")
  todo-list(store="{opts.store}")
  p.
    Want a second fully synchronized list? Just declare another list component:
    no code required, no events to wire up!
  todo-list(store="{opts.store}")
  //- style(scoped).
  //- script.
